/Debug
/.settings
/ipch
/Release
*.bmp
*.xml
*.txt
*.psd
*.stackdump
.cproject
*.sdf
*.sln
*.suo
*.filters
*.vcxproj*
*.opensdf
/dfsafdf2.png
/dfsafdf3.png
/dfsafdf4.png
/dfsafdf5.png
/dfsafdf6.png
/dfsafdf7.png
/dfsafdf8.png
/dfsafdf9.png
/dfsafdf.png
/Face_Detect_00gray.png
/Face_Detect_01Cb.png
/Face_Detect_02Cr.png
/Face_Detect_03Cb_th.png
/Face_Detect_04Cr_th.png
/Face_Detect_05CbCr_th.png
/Face_Detect_06CbCr_holeFilling.png
/Face_Detect_07Dog.png
/Face_Detect_08Dog_91.png
/Face_Detect_09Dog_73.png
/facetemplate2.png
/facetemplate3.png
/facetemplate.png
/l1.png
/Nicatio_151118.tar
/yaleB01_P00A+000E+00.pgm
